/* *********************************************
*** GENERAL
**********************************************/

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.date{
    margin-right: 20px;
}

.container-fluid{
    padding: 2px;
    width: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }


.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(ba.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title h3{
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.daily_sales,.expenses_total,.transfer,.credit_sales,
.credit_payment-cash,.credit_payment-transfer{
    padding: 12px;
    text-transform: uppercase;
    margin-top: 15px;
}

.daily_sales,.credit_payment-cash{
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.expenses_total,.transfer,.credit_sales,.credit_payment-transfer{
    background-color: #FF5049;
}



.daily_sales--text,.expenses_total--text,.transfer--text,
.credit_sales--text,.credit_payment-cash--text,.credit_payment-transfer--text{
    float: left;
    font-size: 14px;
    color: #fff;
    margin-top: 2px;
}

.daily_sales--value,.expenses_total--value,.transfer--value,
.credit_sales--value,.credit_payment-cash--value,.credit_payment-transfer--value{
    /* letter-spacing: 1px; */
    float: left;
    color: white;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center; 
}


.add__type {
    width: auto;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value,.add__quantity,.add__unit {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 17px;
    padding: 8px 8px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}
.add__quantity{width: 100px;}
.add__unit{width: 100px;}

.add__btn {
    font-size: 30px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    margin-left: 10px; 
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus,.add__quantity:focus,.add__unit:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }


/***** LISTS *****/

.income {
    float: left;
}

.block{
    margin-top: 20px;
}

h5 {
    text-transform: capitalize;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }


.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}


.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }


/*TOOLTIP*/


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    opacity: 1 !important ; 
    padding: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -20px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s; 
}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipHover:hover .tooltip .tooltiptext {
    opacity: 1;
}